@media only screen and (max-width: 1920px)
{
  body{background-color:red;}
}

@media only screen and (max-width: 1660px)
{
  body{background-color: coral;}
}

@media only screen and (max-width: 1440px)
{
  body{background-color: orange;}
}

@media only screen and (max-width: 1366px)
{
  body{background-color: purple;}
}

@media only screen and (max-width: 1024px)
{
  body{background-color: black;}
}

@media only screen and (max-width: 800px)
{
  body{background-color: teal;}
}

@media only screen and (max-width: 414px)
{
  body{background-color: whitesmoke;}
}

@media only screen and (max-width: 360px)
{
  html{ overflow-x :hidden;
    overflow-y:auto;
  }

  body{ background-color: #5a9dcf; margin: 0 auto;}

  #admIcon{
    width: 35px;
    margin: -60px 0px 1px 6px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 101%;
  }

  .nav-link{
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 8pt;
  }

  .nav-link:hover{
    color: darkgrey;
    font-weight: bold;
  }

  img{ width: 40%;
    margin: 0% 0% 0% 31%;
  }

  #jogador{
    border: #FFF solid 2px;
    margin: 0% 4%;
    width: 92%;
  }

  #titulo {
    color: #FFF;
    font-weight: bolder;
    margin: 3% 5% 5% 13%;
    width: 72%;
  }

  .texto{
    color: #FFF;
    font-size: large;
    font-weight: 15pt;
    margin: 5px;
    }
  
  .Check{
    color: #FFF;
    font-size: large;
    font-weight: 15pt;
    margin: 5px 0px 0px -10px;
  }

  .form-control{
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label{
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  button.btn.btn-primary{
    margin: 0% 67% 1%;
    font-weight: bold;
  }
}
/* 
#myFooter {
background-color: #0070A4;
color: #FFF;
}

#myFooter .row {
margin-bottom: 0px;
}


.col-sm-3{
margin: 15% 0% 0% 0%;
}

#myFooter ul {
list-style-type: none;
padding-left: 0;
line-height: 1.7;
}

#myFooter h5 {
font-size: 18px;
color: white;
font-weight: bold;
margin-top: -150px;
}

#myFooter a {
color: #FFF;
text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
text-decoration: none;
color: darkgrey;
font-weight: bold;
} */