
@media only screen and (max-width: 1920px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }


  img
  { 
    width: 20%;
    margin: 2% 0% -24% 39.5%;
  }

  .list-group-item.active 
  {
    z-index: 2;
    color: #fff;
    background-color: #0070A4;
    height: 133px;
    border-radius: -10%;
    margin: 0px 0px 31px 0px;
  }

    .list-group 
    {
        width: 600px;
        margin: 463px auto;
    }

    .list-group-item
    {
        background-color: bisque;
    }

    #relogio
    {
        width: 20%;
        margin: 2% 0% -24% 39.5%;
    }
}

@media only screen and (max-width: 1660px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 20%;
    margin: 2% 0% -24% 39.5%;
  }

  .list-group-item.active 
   {
        z-index: 2;
        color: #fff;
        background-color: #0070A4;
        height: 133px;
        border-radius: -10%;
        margin: 0px 0px 31px 0px;
   }


    .list-group 
    {
        width: 600px;
        margin: 300px auto;
    }

    .list-group-item
    {
        background-color: bisque;
    }
    
    #relogio
    {
        width: 20%;
        margin: 2% 0% -24% 39.5%;
    }

  
}

@media only screen and (max-width: 1440px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 24%;
    margin: 2% 0% -24% 36.5%;
  }

  #relogio
  {
    width: 13%;
    margin: -63% 5% -47% 99.5%;
  }
}

@media only screen and (max-width: 1366px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 24%;
    margin: 2% 0% -24% 36.5%;
  }

  #relogio
    {
        width: 13%;
        margin: -63% 5% -47% 99.5%;
    }
}

@media only screen and (max-width: 1024px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 20px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 46%;
    margin: 2% 0% -24% 26.5%;
  }

  #relogio
  {
    width: 13%;
    margin: -63% 5% -47% 99.5%;
  }

}

@media only screen and (max-width: 800px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 20px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 46%;
    margin: 2% 0% -24% 26.5%;
  }

  #relogio
  {
    width: 13%;
    margin: -63% 5% -47% 99.5%;
  }
}

@media only screen and (max-width: 414px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 128%;
  }

  .nav-link
  {
    margin: 0% -3% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 99%;
    margin: 3% 0% -17% 15.5%;
  }

  #botao_jogar
  {
    margin: 37px 0px 11px 143px;
    width: 232px;
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 40% 0% 28% -197px;
    font-weight: bold;
    width: 147px;
    height: 36px;
    border-radius: 22px;
    font-size: 98%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 20px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  #relogio
  {
    width: 13%;
    margin: -63% 5% -47% 99.5%;
  }

}

@media only screen and (max-width: 360px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 28px;
    margin: -52px 0px 7px 12px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 101%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 13px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 74%;
    margin: 1% 2% -8% 15.5%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  #relogio
  {
        width: 13%;
        margin: -63% 5% -47% 99.5%;
  }

}
