@media only screen and (max-width: 1920px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}
    
    #admIcon{
        width: 35px;
        margin: -60px 0px 10px 6px;
    }
    
    #admIcon:hover{
        opacity: 60%;
    }
    
    ul.nav.justify-content-end{
        background-color: #0070A4;
        width: 100%;
    }
    
    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 12pt;
    }
    
    img{ width: 12%;
        margin: 0% 0% 0% 8.5%;
    }

    h2{
        margin: -7% 0% 0% 22%;
        color: #fff;
        font-weight: bolder;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 8.5%;
        width: 15%;
    }

    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 24%;
        width: 45%;
        font-size: 17pt
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -21.2% 11% 0% 31%;
        width: 15%;
    }

    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 30%;
        width: 38%;
        font-size: 17pt;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: -16.2% 0% 0% 54%;
        width: 15%;
    }

    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 34%;
        width: 30%;
        font-size: 17pt;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: -16.1% 0% 0% 76.5%;
        width: 15%;
    }

    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 31%;
        width: 30%;
        font-size: 17pt;  
    }

    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }

    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1660px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}
    
    #admIcon{
        width: 35px;
        margin: -60px 0px 10px 6px;
    }
    
    #admIcon:hover{
        opacity: 60%;
    }
    
    ul.nav.justify-content-end{
        background-color: #0070A4;
        width: 100%;
    }
    
    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 12pt;
    }
    
    img{ width: 12%;
        margin: 0% 0% 0% 8.5%;
    }

    h2{
        margin: -7% 0% 0% 22%;
        color: #fff;
        font-weight: bolder;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 8.5%;
        width: 15%;
    }

    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 23%;
        width: 52%;
        font-size: 14pt;
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -22.7% 11% 0% 31%;
        width: 15%;
    }

    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 33%;
        width: 38%;
        font-size: 14pt;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: -17.6% 0% 0% 54%;
        width: 15%;
    }

    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 36%;
        width: 29%;
        font-size: 14pt;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: -17.7% 0% 0% 76.5%;
        width: 15%;
    }

    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 32%;
        width: 36%;
        font-size: 14pt;    
    }

    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }

    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1440px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}
    
    #admIcon{
        width: 35px;
        margin: -60px 0px 10px 6px;
    }
    
    #admIcon:hover{
        opacity: 60%;
    }
    
    ul.nav.justify-content-end{
        background-color: #0070A4;
        width: 100%;
    }
    
    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 12pt;
    }
    
    img{ width: 12%;
        margin: 0% 0% 0% 8.5%;
    }

    h2{
        margin: -7% 0% 0% 22%;
        color: #fff;
        font-weight: bolder;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 8.5%;
        width: 15%;
    }

    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 20%;
        width: 59%;
        font-size: 14pt;
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -24.3% 11% 0% 31%;
        width: 15%;
    }

    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 30%;
        width: 44%;
        font-size: 14pt;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: -19.3% 0% 0% 54%;
        width: 15%;
    }

    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 32%;
        width: 34%;
        font-size: 14pt;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: -19.4% 0% 0% 76.5%;
        width: 15%;
    }

    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 30%;
        width: 41%;
        font-size: 14pt;    
    }

    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }

    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1366px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}
    
    #admIcon{
        width: 35px;
        margin: -60px 0px 10px 6px;
    }
    
    #admIcon:hover{
        opacity: 60%;
    }
    
    ul.nav.justify-content-end{
        background-color: #0070A4;
        width: 100%;
    }
    
    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 12pt;
    }
    
    img{ width: 12%;
        margin: 0% 0% 0% 8.5%;
    }

    h2{
        margin: -7% 0% 0% 23%;
        color: #fff;
        font-weight: bolder;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 8.5%;
        width: 15%;
    }

    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 18%;
        width: 64%;
        font-size: 14pt;
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -25.2% 11% 0% 31%;
        width: 15%;
    }

    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 29%;
        width: 47%;
        font-size: 14pt;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: -20.1% 11% 0% 54%;
        width: 15%;
    }

    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 32%;
        width: 36%;
        font-size: 14pt;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: -20.1% 0% 0% 76.5%;
        width: 15%;
    }

    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 28%;
        width: 43%;
        font-size: 14pt;    
    }

    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }

    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1024px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}
    
    #admIcon{
        width: 35px;
        margin: -60px 0px 10px 6px;
    }
    
    #admIcon:hover{
        opacity: 60%;
    }
    
    ul.nav.justify-content-end{
        background-color: #0070A4;
        width: 100%;
    }
    
    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 12pt;
    }
    
    img{ width: 15%;
        margin: 0% 0% 0% 3.5%;
    }

    h2{
        margin: -9% 0% 0% 21%;
        color: #fff;
        font-weight: bolder;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 3.5%;
        width: 20%;
    }

    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 18%;
        width: 63%;
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -31.6% 0% 0% 29%;
        width: 20%;
    }

    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 26%;
        width: 47%;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: -26.7% 10% 0% 54%;
        width: 20%;
    }

    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 31%;
        width: 35%;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: -26.7% 0% 0% 77.5%;
        width: 20%;
    }

    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 30%;
        width: 42%;
    }


    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }

    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }
}

@media only screen and (max-width: 800px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}

    #admIcon{
    width: 35px;
    margin: -60px 0px 10px 6px;
    }

    #admIcon:hover{
    opacity: 60%;
    }

    ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
    }

    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 10pt;
    }
    
    img{width: 20%;
        margin: 0% 0% 0% 2.5%;
    }

    h2{
        margin: -10% 0% 0% 26%;
        color: #fff;
        font-weight: bolder;
        font-size: 18pt;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 2.5%;
        width: 26%;
    }

    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 18%;
        width: 68%;
        font-size: 15pt;
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -39.8% 0% 0% 37%;
        width: 26%;
    }

    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 26%;
        width: 49%;
        font-size: 15pt;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: -34.9% 0% 0% 72%;
        width: 26%;
    }

    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 32%;
        width: 38%;
        font-size: 15pt;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: 3% 0% 0% 2.5%;
        width: 26%;
    }

    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 28%;
        width: 47%;
        font-size: 15pt;
    }


    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }

    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }
}

@media only screen and (max-width: 414px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}

    #admIcon{
    width: 35px;
    margin: -60px 0px 10px 6px;
    }

    #admIcon:hover{
    opacity: 60%;
    }

    ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
    }

    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 10pt;
    }
    
    img{width: 20%;
        margin: 0% 0% 0% 2.5%;
    }

    h2{
        margin: -13% 0% 0% 26%;
        color: #fff;
        font-weight: bolder;
        font-size: 14pt;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 22.5%;
        width: 57%;
    }
    
    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 25%;
        width: 51%;
        font-size: 13pt;
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -1.6% 0% 0% 22.5%;
        width: 57%;
    }
    
    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 32%;
        width: 37%;
        font-size: 13pt;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: 4.4% 0% 0% 22.5%;
        width: 57%;
    }
    
    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 36%;
        width: 29%;
        font-size: 13pt;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: 3.4% 0% 0% 22.5%;
        width: 57%;
    }
    
    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 34%;
        width: 35%;
        font-size: 13pt;
    }

    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }

    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }       
}

@media only screen and (max-width: 360px)
{
    html{ overflow-x :hidden;
        overflow-y:auto;
    }
    
    body{ background-color: #5a9dcf; margin: 0 auto; overflow-x :hidden;
        overflow-y:auto;}

    #admIcon{
    width: 35px;
    margin: -60px 0px 10px 6px;
    }

    #admIcon:hover{
    opacity: 60%;
    }

    ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
    }

    .nav-link{
        margin: 0% 0% 0% 0%;
        color: #FFF;
        font-size: 10pt;
    }
    
    img{width: 20%;
        margin: 0% 0% 0% 2.5%;
    }

    h2{
        margin: -12% 0% 0% 26%;
        color: #fff;
        font-weight: bolder;
        font-size: 12pt;
    }

    #administrador{
        border: #FFF solid 2px;
        margin: 5% 22.5%;
        width: 57%;
    }
    
    #tituloAdministrador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 22%;
        width: 59%;
        font-size: 13pt;
    }

    #categoria{
        border: #FFF solid 2px;
        margin: -1.6% 0% 0% 22.5%;
        width: 57%;
    }
    
    #tituloCategoria{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 30%;
        width: 43%;
        font-size: 13pt;
    }

    #jogador{
        border: #FFF solid 2px;
        margin: 3.4% 0% 0% 22.5%;
        width: 57%;
    }
    
    #tituloJogador{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 34%;
        width: 32%;
        font-size: 13pt;
    }

    #perguntas{
        border: #FFF solid 2px;
        margin: 3.4% 0% 0% 22.5%;
        width: 57%;
    }
    
    #tituloPerguntas{
        color: #FFF;
        font-weight: bolder;
        margin: 0% 0% 5% 31%;
        width: 32%;
        font-size: 13pt;
    }

    button.btn.btn-primary{
        margin: 5% 5% 5% 5%;
        width: 88%;
    }
    
    #myFooter{
        background-color: #0070A4;
        color: #FFF;
        margin: 8% 0% 0% 0%;
    }
    
    .col-sm-3{
        margin: 8% 0% 0% 0%;
    }
    
    #myFooter ul{
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    
    #myFooter h5{
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    
    #myFooter a{
        color: #FFF;
        text-decoration: none;
    }
    
    #myFooter a:hover,
    #myFooter a:focus{
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
    }       
}
