html{ overflow-x :hidden;
    overflow-y:auto;
}

img{ width: 12%;
    margin: 0% 0% -13% 45%;
}

body{
    background-color:#5a9dcf; margin: 0 auto; ;
}

#admIcon
{
width: 41px;
margin: -66px 1052px 1px 20px;
}

#admIcon:hover
{
opacity: 60%;
}

ul.nav.justify-content-end{
    background-color:  #0070A4;
}

.nav-link{
    margin: 0% 2% 0% 0%;
    color: #FFF;
}
  
.nav-link:hover{
    color: darkgrey;
    font-weight: bold;
}

#jogador{
  border: #FFF solid 2px;
  margin: 13% 28%;
  width: 45%;
}

#titulo {
  color: #FFF;
  font-weight: bolder;
  margin: 5% 5% 5% 35%;
  width: 28%;
}

.texto{
  color: #FFF;
  font-size: large;
  font-weight: 20pt;
  margin: 5px 5px 8px;
}

.form-check-label{
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
}

.form-control{
    margin: 5px 5px 8px;
    width: 95%;
    border-radius: 10px;
}

button.btn.btn-primary{
    margin: 1% 45% 1%;
    font-weight: bold;
}

.form-group.col-md-6{
    margin: 0% 25%;
}

.form-check{
    margin: 0% 35% 5%;
}

input#autoSizingCheck2.form-check-input{
    margin: 4% -10% 0%;
}

#myFooter {
    background-color: #0070A4;
    color: #FFF;
    margin: 8% 0% 0% 0%;

}

#myFooter .row {
    margin-bottom: 0px;
}

#myFooter .info{
    text-align: justify; 
    color: #FFF;
    margin: 15% 0% 0% 0%;
}

.col-sm-3{
    margin: 15% 0% 0% 0%;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -80px;
}

#myFooter a {
    color: #FFF;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
}


