/*FULL HD* Css Query*/
@media only screen and (max-width: 1920px)
{
  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;
    
  }

  #admIcon:hover
  {
    opacity: 60%;
  }
  
  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  /*Configurações da imagem*/
  img
  { 
    width: 19%;
    margin: 0% 0% 2% 41%;
  }

  #administrador
  {
    border: #FFF solid 4px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  #botaoc
  {
    margin:  0% 0% 2% 83%;
  }

  button.btn.btn-primary
  {
    font-weight: bold;
  }

  /*Configurações da margem de baixo*/
  
  #Rodape
  {
    margin: 20% 0% 0% 0%;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;   
  }

  .col-sm-3
  {
    margin: 5% 0% 0% 0%; 
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}
/*PC*/
@media only screen and (max-width: 1660px)
{
  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;
    
  }

  #admIcon:hover
  {
    opacity: 60%;
  }
  
  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  /*Configurações da imagem*/
  img
  { 
    width: 19%;
    margin: 0% 0% 2% 41%;
  }

  #administrador
  {
    border: #FFF solid 4px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  #botaoc
  {
    margin:  0% 0% 2% 83%;
  }

  button.btn.btn-primary
  {
    font-weight: bold;
  }

  /*Configurações da margem de baixo*/
  
  #Rodape
  {
    margin: 20% 0% 0% 0%;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;   
  }

  .col-sm-3
  {
    margin: 15% 0% 0% 0%; 
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}
/*NOTEBOOK*/
@media only screen and (max-width: 1440px)
{
  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;
    
  }

  #admIcon:hover
  {
    opacity: 60%;
  }
  
  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  /*Configurações da imagem*/
  img
  { 
    width: 19%;
    margin: 0% 0% 2% 40%;
  }

  #administrador
  {
    border: #FFF solid 4px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  #botaoc
  {
    margin:  0% 0% 2% 83%;
  }

  button.btn.btn-primary
  {
    font-weight: bold;
  }

  /*Configurações da margem de baixo*/
  
  #Rodape
  {
    margin: 20% 0% 0% 0%;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;   
  }

  .col-sm-3
  {
    margin: 15% 0% 0% 0%; 
  }

  #myFooter .row 
  {
    margin-bottom: 0px;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}
/*HD*/
@media only screen and (max-width: 1366px)
{
  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;
    
  }

  #admIcon:hover
  {
    opacity: 60%;
  }
  
  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  /*Configurações da imagem*/
  img
  { 
    width: 19%;
    margin: 0% 0% 2% 40%;
  }

  #administrador
  {
    border: #FFF solid 4px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }
  #botaoc
  {
    margin:  0% 0% 2% 83%;
  }

  button.btn.btn-primary
  {
    font-weight: bold;
  }

  /*Configurações da margem de baixo*/
  
  #Rodape
  {
    margin: 20% 0% 0% 0%;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;   
  }
 
  .col-sm-3
  {
    margin: 15% 0% 0% 0%; 
  }

  #myFooter .row 
  {
    margin-bottom: 0px;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}

/*TELAS ANTIGAS*/
@media only screen and (max-width: 1024px)
{
  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;
    
  }

  #admIcon:hover
  {
    opacity: 60%;
  }
  
  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  /*Configurações da imagem*/
  img
  { 
    width: 40%;
    margin: 0% 0% 2% 30%;
  }

  #administrador
  {
    border: #FFF solid 4px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }
  #botaoc
  {
    margin:  0% 0% 2% 83%;
  }

  button.btn.btn-primary
  {
    font-weight: bold;
  }

  /*Configurações da margem de baixo*/
  
  #Rodape
  {
    margin: 30% 0% 0% 0%;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;   
  }
 
  .col-sm-3
  {
    margin: 15% 0% 0% 0%; 
  }

  #myFooter .row 
  {
    margin-bottom: 0px;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }

}

/*TELAS OBSOLETA*/
@media only screen and (max-width: 800px)
{
  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }
  #topo
  {
    margin: 0% -5% 0% 0%;
  }
  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;
    
  }

  #admIcon:hover
  {
    opacity: 60%;
  }
  
  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  /*Configurações da imagem*/
  img
  { 
    width: 40%;
    margin: 0% 0% 2% 30%;
  }

  #administrador
  {
    border: #FFF solid 2px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }
  #botaoc
  {
    margin:  0% 0% 2% 83%;
  }

  button.btn.btn-primary
  {
    font-weight: bold;
  }

  /*Configurações da margem de baixo*/
  
  #Rodape
  {
    margin: 30% -3% 0% 0%;
  }
 
  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;   
  }
 
  .col-sm-3
  {
    margin: 15% 0% 0% 0%; 
  }

  #myFooter .row 
  {
    margin-bottom: 0px;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }

}

/*IPHONE*/
@media only screen and (max-width: 414px)
{

  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;
    
  }

  #admIcon:hover
  {
    opacity: 60%;
  }
  
  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  /*Configurações da imagem*/
  img
  { 
    width: 40%;
    margin: 0% 0% 2% 30%;
  }

  #administrador
  {
    border: #FFF solid 2px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  button.btn.btn-primary
  {
    margin: 2% 65% 3;
    font-weight: bold;
  }

  /*Configurações da margem de baixo*/
  
  #Rodape
  {
    margin: 157% 0% 0% 0%;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    
  }

  .col-sm-3
  {
    margin: 15% 0% 0% 0%; 
  }

  #myFooter .row 
  {
    margin-bottom: 0px;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}

/*ANDROID*/
@media only screen and (max-width: 360px)
{

  html{ overflow-x :hidden;
    overflow-y:auto;
  }

  /*Configurações da margem de cima*/
  body{ background-color: #5a9dcf;}

  #admIcon
  {
    width: 41px;
    margin: -66px 1052px 1px 20px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end
  {
    background-color: #0070A4;

  }

  .nav-link
  {
    margin: 0% 2% 0% 0%;
    color: #FFF;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
    
  /*Configurações da imagem*/
  img
  { 
    width: 40%;
    margin: 0% 0% 2% 30%;
  }

  #administrador
  {
    border: #FFF solid 2px;
    margin: 3% 8%;
    width: 85%;
  }

  #titulo
  {
    color: #FFF;
    font-weight: bolder;
    margin: 5% 5% 5% 26%;
    width: 50%;
  }
  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .form-control
  {
    margin: 5px;
    width: 95%;
    border-radius: 10px;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  button.btn.btn-primary
  {
    margin: 2% 65% 3;
    font-weight: bold;
  }
          
  /*Configurações da margem de baixo*/
  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
  }
      
  #myFooter .row 
  {
    margin-bottom: 0px;
  }

  .col-sm-3
  {
    margin: 15% 0% 0% 0%; 
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }
      
  #myFooter h5 
  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -27px;
  }
            
  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }

}