
@media only screen and (max-width: 1920px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 24%;
    margin: 2% 0% -24% 36.5%;
  }

  #botao_jogar
  {
    margin: 0px 2px 89px 524px;
    width: 241px
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 31% 2% 38% -206px;
    font-weight: bold;
    width: 158px;
    height: 40px;
    border-radius: 22px;
    font-size: 115%
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    margin: -19% -1% 0% 0%;
  }

  .col-sm-3
  {
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 23px;
    color: white;
    font-weight: bold;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1660px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 24%;
    margin: 0% 2% -17% 39%;
  }

  #botao_jogar
  {
    margin: 0px 2px 197px 703px;
    width: 241px;
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 24% -5% 43% -205px;
    font-weight: bold;
    width: 158px;
    height: 40px;
    border-radius: 22px;
    font-size: 115%
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    margin: -38% -1% 0% 0%;
  }

  .col-sm-3
  {
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 23px;
    color: white;
    font-weight: bold;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1440px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 24%;
    margin: 2% 0% -24% 36.5%;
  }

  #botao_jogar
  {
    margin: 0px 2px 89px 524px;
    width: 241px
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 31% 2% 38% -206px;
    font-weight: bold;
    width: 158px;
    height: 40px;
    border-radius: 22px;
    font-size: 115%
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    margin: -19% -1% 0% 0%;
  }

  .col-sm-3
  {
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 23px;
    color: white;
    font-weight: bold;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }D

}

@media only screen and (max-width: 1366px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 16px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 24%;
    margin: 2% 0% -24% 36.5%;
  }

  #botao_jogar
  {
    margin: 0px 2px 89px 524px;
    width: 241px
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 31% 2% 38% -206px;
    font-weight: bold;
    width: 158px;
    height: 40px;
    border-radius: 22px;
    font-size: 115%
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    margin: -19% -1% 0% 0%;
  }

  .col-sm-3
  {
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 23px;
    color: white;
    font-weight: bold;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1024px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 20px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 46%;
    margin: 2% 0% -24% 26.5%;
  }

  #botao_jogar
  {
    margin: 0px 6px 52px 361px;
    width: 241px;
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 33% 0% 36% -210px;
    font-weight: bold;
    width: 158px;
    height: 40px;
    border-radius: 22px;
    font-size: 115%
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    margin: -10% -1% 0% 0%;
  }

  .col-sm-3
  {
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 23px;
    color: white;
    font-weight: bold;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }


}

@media only screen and (max-width: 800px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 100%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 20px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 46%;
    margin: 2% 0% -24% 26.5%;
  }

  #botao_jogar
  {
    margin: 0px 6px 29px 274px;
    width: 205px;
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 35% 0% 35% -186px;
    font-weight: bold;
    width: 147px;
    height: 36px;
    border-radius: 22px;
    font-size: 98%;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    margin: -10% -1% 0% 0%;
  }

  .col-sm-3
  {
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 23px;
    color: white;
    font-weight: bold;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }

}

@media only screen and (max-width: 414px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 43px;
    margin: -61px 0px 9px 14px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 128%;
  }

  .nav-link
  {
    margin: 0% -3% 0% 0%;
    color: #FFF;
    font-size: 18px
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 99%;
    margin: 3% 0% -17% 15.5%;
  }

  #botao_jogar
  {
    margin: 37px 0px 11px 143px;
    width: 232px;
  }

  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 40% 0% 28% -197px;
    font-weight: bold;
    width: 147px;
    height: 36px;
    border-radius: 22px;
    font-size: 98%;
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
    font-size: 20px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  #myFooter 
  {
    background-color: #0070A4;
    color: #FFF;
    margin: 48% -28% 0% 0%
  }

  .col-sm-3
  {
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul 
  {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 
  {
    font-size: 23px;
    color: white;
    font-weight: bold;
  }

  #myFooter a 
  {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus 
  {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
  }

}

@media only screen and (max-width: 360px)
{
  html
  { 
    overflow-x :hidden;
    overflow-y:auto;
  }

  body
  { 
    background-color: #5a9dcf; margin: 0 auto;
  }

  #admIcon
  {
    width: 28px;
    margin: -52px 0px 7px 12px;
  }

  #admIcon:hover
  {
    opacity: 60%;
  }

  ul.nav.justify-content-end{
    background-color: #0070A4;
    width: 101%;
  }

  .nav-link
  {
    margin: 0% 0% 0% 0%;
    color: #FFF;
    font-size: 13px;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  img
  { 
    width: 74%;
    margin: 1% 2% -8% 15.5%;
  }

  #botao_jogar
  {
    margin: 33px 93px 53px 92px;
    width: 181px;
  }
  #botao_jogar:hover
  {
    opacity: 70%;
  }

  a.btn.btn-primary
  {
    margin: 26% 0% 41% -245px;
    font-weight: bold;
    width: 120px;
    height: 32px;
    border-radius: 22px;
    font-size: 80%
  }

  .texto
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .texto:hover
  {
    color: darkgrey;
    font-weight: bold;
  }
  
  .form-control
  {
    margin: 5px;
    width: 95%;
  }

  label.custom-control-label
  {
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
  }

  .nav-link
  {
    margin: 0px 0px 0px -20px;
    color: #FFF;
  }

  .nav-link:hover
  {
    color: darkgrey;
    font-weight: bold;
  }

  #myFooter {
    background-color: #0070A4;
    color: #FFF;
    margin: 8% 0% 0% 0%;
  }

  .col-sm-3{
    margin: 8% 0% 0% 0%;
  }

  #myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }

  #myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
  }

  #myFooter a {
    color: #FFF;
    text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus {
  text-decoration: none;
  color: darkgrey;
  font-weight: bold;
  }
}

