/*Aqui está a configuração do html*/
html{ overflow-x :hidden;
    overflow-y:auto;
}

/*Aqui está a configuração da imagem inserida na página*/
img{ width: 12%;
    margin: 0% 0% -13% 43%;}

/*Aqui está a configuração da margem de cima*/
body{
    background-color:#5a9dcf; margin: 0 auto; ;
}

#admIcon
{
width: 41px;
margin: -66px 1052px 1px 20px;
}

#admIcon:hover
{
opacity: 60%;
}

ul.nav.justify-content-end{
    background-color:  #0070A4;
}

.nav-link{
    margin: 0% 2% 0% 0%;
    color: #FFF;
}
  
.nav-link:hover{
    color: darkgrey;
    font-weight: bold;
}

/*Aqui está a configuração da entrada de dados, CPF e Senha*/
#campos{
  width: 15%;
  margin: 10% auto;
  padding: 1%;
}

#administrador{
  border: #FFF solid 2px;
  margin: 13% 25%;
  width: 50%;
}

#titulo {
  color: #FFF;
  font-weight: bolder;
  margin: 5% 5% 5% 30%;
  width: 36%;
}


.texto{
  color: #FFF;
  font-size: large;
  font-weight: 20pt;
  margin: 5px;
}

.form-control{
    margin: 5px;
    width: 95%;
    border-radius: 10px;
}

label.custom-control-label{
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
}

button.btn.btn-primary{
    margin: 1% 45% 1%;
    font-weight: bold;
}
/*Aqui está a configuração do rodapé*/
#myFooter {
    background-color: #0070A4;
    color: #FFF;
    margin: 8% 0% 0% 0%;

}

#myFooter .row {
    margin-bottom: 0px;
}

#myFooter .info{
    text-align: justify; 
    color: #FFF;
    margin: 15% 0% 0% 0%;
}

.col-sm-3{
    margin: 15% 0% 0% 0%;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: -80px;
}

#myFooter a {
    color: #FFF;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: darkgrey;
    font-weight: bold;
}


