html
{ 
    overflow-x :hidden;
    overflow-y:auto;
}

body
{ 
    background-color: #5a9dcf; 
    margin: 0 auto;
}

#BoasVindas
{
    margin: 5px 14px 67px 226px;
}

#BoasVindas p
{
    font-size: 35px;
    margin: -1px 14px -29px -9px;
}
#BoasVindas i
{
    font-size: 17px;
    margin: 10px 16px 10px 4px;
}



#Lista
{
    margin: -34px 16px 22px 377px;
    display: inline-block;
    position: relative;
}

#CadastroUsuarios
{
    margin: -155px 91px 125px 67px
}

#admIcon
{
    width: 41px;
    margin: -66px 1052px 1px 20px;
}

#admIcon:hover
{
    opacity: 60%;
}

ul.nav.justify-content-end
{
  background-color: #0070A4;
}

.nav-link
{
  margin: 0% 2% 0% 0%;
  color: #FFF;
}

.nav-link:hover
{
  color: darkgrey;
  font-weight: bold;
}

img
{ 
    width: 12%;
    margin: 0% 0% -9% 3%;
}

#campos
{
  width: 15%;
  margin: 10% auto;
  padding: 1%;
}



#titulo 
{
  color: #FFF;
  font-weight: bolder;
  margin: 5% 5% 5% 26%;
  width: 50%;
}


.texto
{
  color: #FFF;
  font-size: large;
  font-weight: 20pt;
  margin: 5px;
}

.form-control
{
    margin: 5px;
   
}

label.custom-control-label
{
    color: #FFF;
    font-size: large;
    font-weight: 20pt;
    margin: 5px;
}

button.btn.btn-primary
{
  margin: 1% 84% 1%;
  font-weight: bold;
    
}

a#botao_cadastrar.btn.btn-primary
{
    width: 220px;
    border-radius: 11px;
    margin: -4px 10px 10px 10px
}

#myFooter 
{
  background-color: #0070A4;
  color: #FFF;
}

#myFooter .row 
{
  margin-bottom: 0px;
}


.col-sm-3
{
  margin: 15% 0% 0% 0%;
}

#myFooter ul 
{
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 
{
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: -150px;
}

#myFooter a 
{
  color: #FFF;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus 
{
  text-decoration: none;
  color: darkgrey;
  font-weight: bold;
}